@model SportsStore.WebUI.ViewModels.CartView
<a class="navbar-brand text-left col-sm-2 d-none d-sm-inline-block" href="#" style="padding-left: 0;text-align:left" >SPORTS STORE</a>
<div class="navbar-brand d-sm-none col-4">
    <a class="text-left  d-block" href="#" style="padding-left: 0;text-align:left">SPORTS</a>
    <a class="text-left  d-block" href="#" style="padding-left: 0;text-align:left">STORE</a>
</div>

<ul class="navbar-nav col-sm-8 justify-content-between" >
    <li class="nav-item">
        <b class="d-none">Your cart:</b>
        @Model.Lines.Sum(x => x.Quantity) item(s)
        @Model.ComputeTotalValue().ToString("c")
    </li>
    <li class="nav-item d-none d-sm-inline-block"> @Html.ActionLink("Checkout", "Index", "Cart", new { returnUrl = Context.Request.Path }, new { @class = "btn btn-secondary navbar-btn" })</li>
    <li class="nav-item d-inline-block d-sm-none"> @Html.ActionLink("", "Index", "Cart", new { returnUrl = Context.Request.Path }, new { @class = "oi oi-cart navbar-btn" , @style="color: black;font-size:30px"})</li>
</ul>

